.showturn{
    width: 200px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top:0;
    right: 0;
    margin: 50px;
    background-color: var(--IceCold);
    color:var(--PurplePain)
}